
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Currents</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <nav>
        <h1><a href = "/">Currents</a></h1>
        <ul>
            <% if (user) {  %>
                <li class = welcome_message>Welcome, <%= user.name %></li>
                <li><a href="/profile" class="btn">Profile</a></li>
            <% } else { %>
                <li><a href="/login" class="btn">Log in</a></li>
                <li><a href="/register" class="btn">Register</a></li>
            <% } %>
        </ul>
    </nav>
    
