<%- include('partials/header'); -%>


    <div>
        <div class='home_wrapper'>
          <ul>
            <li><a href="wallet" class="main-buttons_1">Wallet</a></li>
            <li><a href="/transact" class="main-buttons_2">Transact</a></li>
        </ul> 
        </div>
        
    </div>
    
    <%- include('partials/footer'); -%>