<%- include('partials/header'); -%>






<div>
    <div class='home_wrapper'>
      <ul>
        <li><a href="update_profile" class="main-buttons_1">Update Profile</a></li>
        <li><a href="/logout" class="main-buttons_2">Log out</a></li>
        
    </ul> 
    </div>
    
</div>





<%- include('partials/footer'); -%>
