<table class="wallet">
    <tr class = "row">
      <td class="left-side">Spending Capacity</td>
      <td class="middle">:</td>
      <td class="right-side" >200</td>
    </tr>
    <tr class = "row">
      <td class="left-side">Credit Limit</td>
      <td class="middle">:</td>
      <td class="right-side">-200</td>
    </tr>
    <tr class = "row">
      <td class="left-side">Current Balance</td>
      <td class="middle">:</td>
      <td class="right-side">0</td>
    </tr>
    <tr class = "row">
      <td class="left-side">Total Spent</td>
      <td class="middle">:</td>
      <td class="right-side">0</td>
    </tr>
    <tr class = "row">
        <td class="left-side">Total Earned</td>
        <td class="middle">:</td>
        <td class="right-side">0</td>
      </tr>
      <tr class = "row">
        <td class="left-side">Participation</td>
        <td class="middle">:</td>
        <td class="right-side">0</td>
      </tr>
    
  </table>