<!DOCTYPE html>
<html lang="en">
<head>
    <link href="style_register.css" type="text/css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login and Registration</title>
    <script defer src="login_script.js"></script>
</head>
<body>
    <div class ="register-page">
    <div class="form">
        <form class="register-form"  action="/signup" method="POST" >
            <input name="name" type="text" placeholder="name"/> 
            <input name="password" type="passsword" placeholder="passsword"/>
            <input name="repeatPassword" type="text" placeholder="repeat password"/>
            <input name="email" type="text" placeholder="email"/>
            <input name="alias" type="text" placeholder="alias"/>
            <button type="submit" >Create</button>

            <p class="message"> Already Registered? <a href="/login">Login</a></p>

        </form>
        
        <div id="error"></div>
        
        
    </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js">
    </script>

    <script>
        $('.message a').click(function(){
        $('form').animate( {height: "toggle", opacity:"toggle"}, "slow");
        });
    </script>
    <script type="text/javascript" src = "register_script.js"></script>

    </script> 
</body>
</html>